:root{
    /* Colors */
    /* Primary (it isn't with hsl so as to letter be able to add opacity) */
    --light-red: 0, 100%, 67%;
    --Orangey-yellow: 39, 100%, 56%;
    --Green-teal: 166, 100%, 37%;
    --Cobalt-blue: 234, 85%, 45%;

    /* Gradient - Backgroung */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /* Gradient - circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Outfit', sans-serif;
    /* Display flex to center the card within the body */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

/* General Card */

.card{
    display: flex;
    border-radius: 25px;
    box-shadow: 10px 10px 100px rgba(0,0,0,0.25); /* offset-x | offset-y | blur-radius | color */
}

/* Results side (left) */

.card__results{
    /* Display flexbox */
    display: flex;
    flex-direction: column;

    /* Alignment */
    justify-content: space-between; /* aligns along main axis, vertical given column direction */
    align-items: center; /* aligns along cross axis, horizontal given column direction */
    text-align: center;

    /* sizing */
    width: 30ch; /* width of 35 characters */
    padding: 20px 50px 20px; /* padding: arriba | izq y der | abajo */
    border-radius: 25px;

    /* Background */
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));

    /* Text color */
    color: whitesmoke;
}

.card__results p {
    font-weight: 500;
    color: hsl(0, 0%, 65%);
}

.results__circle{
    /* sizing */
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 50%;

    /* flexbox, particularly for centering */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background */
    background: linear-gradient(to top, var(--persian-blue), var(--violet-blue));
}

.results__circle h1{
    margin: 0;
    font-size: 3rem;
}

.results__circle p{
    margin: 10px;
}

/* Summary side (right) */

.card__summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px; /* padding: top-bottom | left-right */
    width: 60%;
}

.summary__score__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px; /* padding: top-bottom | left-right */
}

.summary__score{
    /* Container for each score */
    display: inline-flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 10px;
}

.score__icon-name{
    /* Container for each score's name and icon */
    display: inline-flex;
    gap: 10px;
}

.continue-btn{
    margin: 10px 0px 10px; /* margin: arriba | izq y der | abajo */
}
/* Coloring of each result */
.score__reaction{
    background: hsla(var(--light-red), 0.1);
}

.score__memory{
    background: hsla(var(--Orangey-yellow), 0.1);
}

.score__verbal{
    background: hsla(var(--Green-teal), 0.1);
}

.score__visual{
    background: hsla(var(--Cobalt-blue), 0.1);

}

/* Button */

.continue-btn{
    color: whitesmoke;
    background-color: var(--Dark-gray-blue);
    padding: 16px 32px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
}